.container {
    border: 2px solid green;
    min-height: 200px;
    position: relative;
}
.item {
    background-color: beige;
    border: 2px dotted red;
    padding: 8px;
    font-size: 24px;
}
.item2 {
    position: absolute;
    background-color: salmon;
    left: 100px;
    right: 100px;
    top: 60px;
    bottom: 60px;
}
h1 {
    position: relative;
    top: 300px;
    left: 300px;
    text-shadow: 4px 4px 2px silver;
}